<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="applicationID" value="AIzaSyCbcyy8H-NGRRQYIYgdlnOnyBHGh2EeV0k"/>
    <add key="senderId" value="791406759950"/>
  </appSettings>
</configuration>
