<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="applicationID" value="AIzaSyBucw4B6mTvszl1EJsKCRu2afyjfd9G3c8"/>
    <add key="senderId" value="953128020008"/>
  </appSettings>
</configuration>
